@media(max-width:835px) {
    * {
        font-family: Arial, Helvetica, sans-serif;
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;

    }

    .user_login p {
        font-size: 16px;
        margin-left: 84px;
        margin-right: 84px;

    }

    footer {
        height: 154px;
    }

    #user {
        /* margin-right: 42px; */
        margin-left: 53px;
    }

    .sidebar {
        width: 30.45%;
        /* height: 77.63%; */
        height: auto;
        display: block;

    }

    .sidebar_items p {
        font-size: 20px;
        margin-left: 0px;
    }

    .sidebar_items img {

        margin-bottom: 1px;
        margin-right: 17px;


    }

    .sidebar_items {
        padding-left: 6px;
        margin-left: 22px;
    }

    .bag {
        width: 100%;
    }

    .ava {
        margin: 0px 93px 14px 94px;
        width: 67px;
        height: 67px;
    }

    .header {
        max-width: 834px;
        min-width: 440px;
    }

    .header_items_2 img {
        width: 46px;
        height: 46px;
        display: flex;
        justify-content: space-around;

    }

    div.header_item_search {
        margin-left: 47.5px;
        width: 386px;
        height: 39px;
    }

    .header_item_search input {
        width: 169px;
        ;
        height: 19px;
        ;
    }



    .sidebar {
        width: 254px;
    }

    .logo {
        width: 87px;
        height: 87px;
        margin-left: 83px;
        margin-top: 12px;
        /* margin-right: 47.5px; */
        margin-bottom: 14px;
    }

    .footer p:first-child {
        align-items: center;
        font-size: 15px;
        margin-top: 31px;
        line-height: 22px;
    }

    .footer img {
        width: 25px;
        height: 25px;
    }

    .footer p {
        font-size: 8px;

    }

    .contact_shop a {
        text-underline-offset: 6px;
        /* Khoảng cách với chữ */
    }

    .price {
        margin-top: 10px;
    }

    .header_items_2 {
        margin-right: 42px;
    }

    .sidebar_items:hover {
        background-color: #524ADC;
        cursor: pointer;


        color: #FFFFFF;
    }

    .content_items p,
    a {
        font-size: 16px;
        /* margin-left: 32px; */
    }

    .content_body:first-child {
        width: 125px;
        height: 200px;
    }

    .warning {
        font-size: 15px;
    }

    .content_items {
        width: 533px;
        height: 192px;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
        /* Hiệu ứng box-shadow */
    }

    div.content_header {
        margin: 34px 36px 36px 36px;
    }

    .content_footer {
        margin-top: 352px;
    }

    /* .contact_shop {
        margin-top: 21px;
    } */
    .content_items a {
        margin-top: 21px;
    }

    #product {
        margin-top: 14px;
        margin-bottom: 15px;
        margin-left: 3px;
        width: 134px;
        height: 163px;
    }

    .contact_shop img {
        margin-top: 18px;
        margin-left: 28px;
    }


    .title {
        margin-left: 28px;
        margin-top: 41px;
    }

    .price {
        margin-left: 28px;
        margin-top: 10px;
    }

    .content {
        width: 100%-254px;
    }
}